/* ===============1. 顶部 ===============*/
.topbar{
    height: 28px;
    background-color: black;
}
.topbar .container{
    height: 28px;
    background-color: red;
}
.topbar .container p{
    height: 28px;
    line-height: 28px;
    color: white;
}
.topbar .container p:first-child{
    text-indent: 210px;
}
.topbar .container p:first-child a{
    color: #fff;
    text-decoration: none;
}
.topbar .container p:nth-child(2){
    margin-right: 10px;
}
.topbar .container p:nth-child(2) a :not(.login){
    color: #ff6700;
}
.topbar .container p:nth-child(2).login{
    color: #fff;
}
/* ===============2.导航 ===============*/
.nav{
height: 80px;
background-color: #ccc;
}
/* 搜索购物车大订单 */
.nav .search-shopcart-order{
    margin-top: 5px;
    height: 35px;
}

/* 搜索框 */
.nav .search-shopcart-order .search-input{
width: 440px;
height: 35px;
background-color: #ff6700;
margin-right: 38px;
position: relative;
}
/* 搜索框中的图标span */
.nav .search-shopcart-order .search-input span{
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/bgicon.png');
}
/* 搜索框 */
.nav .search-shopcart-order .search-input .search{
    width: 390px;
    height: 35px;
    border: 1px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}
/* 购物车和订单 */
.nav .search-shopcart-order .shopcart-order{
    width: 200px;
    height: 35px;
    background-color: #FFF;
    font-size: 0;
}
/* 购物车订单按钮 */
.nav .search-shopcart-order .shopcart-order button{
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}
/* 购物车图标 */
.nav .search-shopcart-order .shopcart-order button:nth-child(1){
    background-color: #ff6700;
    color: #fff;
    background-image: url('../img/bgicon.png');
    background-position: -6px -44px;
}
/* 分类导航 */
.nav .category-menu{
    margin-top: 15px;
    height: 30px;
    background-color: red;
}
.nav .category-menu .left-logo{
    width: 200px;
    height: 30px;
    background-color: green;
    position: relative;
}
.nav .category-menu .left-logo img{
    position: absolute;
    top: -82px;
    left: 0;
}
.nav .category-menu ul{
    width: 1000px;
    height: 30px;
    background-color:#FFF;
}
.nav .category-menu ul li{
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: #333;
}
/* ===============3.分类导航和banner ===============*/
.menu{
    height: 430px;
}
    /* 左侧导航 */
.menu .sidemenu{
       height: 430px;
       width: 200px;
     /* 导航列表 */ 
}
.menu .sidemenu ul{
    height: 430px;
    width: 200px;
    background-color: #f3f3f3;
    position: relative;
}
/* 导航li */
.menu .sidemenu ul li{
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-indent: 20px;
}
/* 导航下的a标签 */
.menu .sidemenu ul li a{
    color: #353535;
    text-decoration: none;
}
/* 导航li的激活效果 */
.menu .sidemenu ul li:hover{
    background-color: #fff;
}
/* li激活下a标签的样式 */
.menu .sidemenu ul li:hover a{
    color: #ff6700;
}
/* 一级导航标题*/
.menu .sidemenu ul li .title{
    width: 200px;
    height: 30px;
    line-height: 30px;
    
}
/*  */
.menu .sidemenu ul li:hover .title{
    background-color: #fff;
    position: relative;
    z-index: 99;
    
}

.menu .sidemenu ul li:hover .submenu{
    display: block;
}
/* 二级导航效果 */
.menu .sidemenu ul li .submenu{
    position: absolute;
    top: 0;
    left: 198px;
    border: 2px solid #ff6700;
    width: 500px;
    height: 428px;
    display: none;
}
/* 轮播容器 */
.menu .banner{
      height: 430px;
      width: 1000px;
      background-color:pink;
}
/* 4.===============今日推荐 ======================*/
.recommend{
    height: 544px;
}

/* 标题 */
.recommend .title{
    height: 40px;
    line-height: 40px;
    width: 1200px;
    background-color: #FFF;
    margin-top: 10px;
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #ff6700;
    border-bottom: 6px solid #ff6700;
}
/* 推荐内容 */
.recommend .recommend-content{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
   
}
/* 列表容器 */
.recommend .recommend-content ul{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
    background-color: #ff6700;
}
/* 推荐列表li */
.recommend .recommend-content ul li{
    width: 196px;
    height: 247px;
    background-color: #FFF;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
/* 整体居中 */
.recommend .recommend-content ul li{
    text-align: center;
}
/* p标签样式 */
.recommend .recommend-content ul li p{
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}
/* 限时抢购 */
.recommend .recommend-content ul li p.limit-time{
    text-align: left;
    text-indent: 0;
}
/* 文字 */
.recommend .recommend-content ul li p.text{
    color:red;
}
/* 价格 */
.recommend .recommend-content ul li p.price{
   color:red;
   font-size: 20px;
   font-weight: 100;
   margin-top: 5px;
}
/* ===============5.电子书 ================*/
.eboooks{
   
    height:496px ;
    margin-top: 34px;
}
/* 左侧盒子 */
.eboooks .left-box{
    width: 906px;
    height: 496px;
}
/* 顶部 */
.eboooks .left-box .top{
    width: 906px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}
/* 标题 */
.eboooks .left-box .top .title{
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300px;
    color: #ff6700;
}
/* 右侧标题导航 */
.eboooks .left-box .top ul li{
    float: left;
    font-size: 18px;
    width: 100px;
    text-align: center;
}   
/* 右侧激活类 */
.eboooks .left-box .top ul li.active{
    background-color: #ff6700;
    color: #fff;
}
/* 下部分内容 */
.eboooks .left-box .content{
    height: 450px;
    width: 906px;
    background-color:#ccc;

}
/* 左侧广告 */
.eboooks .left-box .content .ads{
    height: 450px;
    width: 236px;
    background-color: #f9f9f9;
}
/* 左侧广告头部 */
.eboooks .left-box .content .ads .top-img{
    width: 236px;
    height: 290px;
}
/* 左侧下部分内容 */
.eboooks .left-box .content .ads .bottom-text{
    height: 160px;
    width: 236px;
}
/* 左侧下部分内容的ul */
.eboooks .left-box .content .ads .bottom-text ul{
    width: 235px;
    height: 160px;
    margin:0 auto;
    margin-left: 1px;
}
/* 左侧下部分内容的li */
.eboooks .left-box .content .ads .bottom-text ul li{
    float: left;
    width: 78px;
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
}
/* 右侧图书 */
.eboooks .left-box .content .ebooks-list {
    height: 450px;
    width: 670px;
    background-color: #ccc;
}
/* 右侧图书的li */
.eboooks .left-box .content .ebooks-list > ul > li{
    float: left;
    width: 165px;
    height: 223px;
    background-color: #fff;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}
/* 右侧图书的所有p标签 */
.eboooks .left-box .content .ebooks-list > ul > li > p{
    text-align-last: left;
    text-indent: 10px;
}
/* 右侧图书第一个p标签 */
.eboooks .left-box .content .ebooks-list > ul > li > p:first-child{
    font-size: 18px;
}
/* 右侧图书除第一个外的p标签 */
.eboooks .left-box .content .ebooks-list > ul > li > p:not(:first-child){
    color: red;
}
/* 右侧图书价格 */
.eboooks .left-box .content .ebooks-list > ul > li > p:last-child{
    font-size: 18px;
}
/* 右侧图书的图片 */
.eboooks .left-box .content .ebooks-list >ul> li> img{
    margin: 15px auto;
}
/* 右侧图书其他格子 */
.eboooks .left-box .content .ebooks-list > ul > li:not(:first-child){

}
/* 右侧图书中特别的li 轮播容器 */
.eboooks .left-box .content .ebooks-list ul li:first-child{
   width: 332px;
   height: 223px;
   background-color: green;
}

.eboooks .left-box .content .ebooks-list ul li:first-child .pptbox{
    width: 332px;
    height: 223px;
}

/* 右侧盒子 */
.eboooks .right-box{
    width: 286px;
    height: 456px;
    margin-top: 40px;
    border:2px solid #ccc;
    /*  变为怪异盒子 */
    box-sizing: border-box;
}
/* 右侧盒子的标题 */
.eboooks .right-box .title{
   text-align: center;
   height: 50px;
   line-height: 50px;
   font-size: 24px;
   font-weight: 200;
   color: #333;
}

.eboooks .right-box ul li{
    line-height: 42px;
   font-size: 16px;
   text-indent: 5px;
}

.eboooks .right-box ul li .desc{
    font-size: 14px;
    line-height: 18px;
    height: 150px;
    color: #333;
    /* 隐藏 */
    display: none;
}

.eboooks .right-box ul li .desc img{
    margin-right: 9px;
}
.eboooks .right-box ul li:first-child p:first-child{
    display: none;
}

.eboooks .right-box ul li .desc.active{
    display: block;
}
/* ===============6.服装 ===================*/
.clothes{
    background-color: green;
    height:496px ;
    margin-top: 34px;
}
/* 左侧盒子 */
.clothes .left-box{
    width: 237px;
    height: 496px;
}
/* 顶部 */
.clothes .top{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}
/* 标题 */
.clothes .top .title{
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300px;
    color: #ff6700;
}
/* 右侧标题导航 */
.clothes .top ul li{
    float: left;
    font-size: 18px;
    width: 100px;
    text-align: center;
}
/* 右侧激活类 */
.clothes .top ul li.active{
    background-color: #ff6700;
    color: #fff;
}
/* 左侧广告头部 */
.clothes .left-box .content .ads .top-img{
    width: 236px;
    height: 290px;
}
/* 左侧下部分内容 */
.clothes.left-box .content .ads .bottom-text{
    height: 160px;
    width: 236px;
}
/* 左侧下部分内容的ul */
.clothes .left-box .content .ads .bottom-text ul{
    width: 235px;
    height: 160px;
    margin:0 auto;
    margin-left: 1px;
}
/* 左侧下部分内容的li */
.clothes .left-box .content .ads .bottom-text ul li{
    float: left;
    width: 78px;
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
}
/* 中间盒子 */
.center-box{
    height: 446px;
    width: 392px;
    background-color:pink;
}
.center-box ul li{
    float: left;
    width: 388px;
    height: 219px;
    line-height: 40px;
    text-indent: 5px;
}
/* 右侧盒子 */
.clothes-right-box{
    height: 446px;
    width: 571px;
    background-color: red;
}

/* 7.户外运动 */
/* 8.童装 */
/* 9.家居日用 */
/*================ 10.推广商品 ================*/
/* 总体修饰 */

.promotion {
    width: 1200;
    height: 650px;
    margin-top: 25px;
}


/* 顶部标签 */

.promotion .promotion-title {
    font-size: 24px;
    text-indent: 20px;
    height: 40px;
    line-height: 40px;
    color: #ff6700;
    font-weight: 500;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}

.promotion .promotion-title ul li {
    width: 15px;
    float: left;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    margin-top: 20px;
}

.promotion .promotion-title ul li.active {
    background-color: #ff6700;
}

.promotion .promotion-content {
    width: 1200px;
    height: 640px;
    background-color: #fff;
    margin: 20px auto;
}

.promotion .promotion-content .promotion-list {
    width: 1170px;
    height: 600px;
}


/* 外部盒子 */

.promotion .promotion-content .out-box {
    width: 1170px;
    height: 564px;
    margin: 20px auto;
    /* 超出隐藏 */
    overflow: hidden;
}


/* 里面的盒子 */

.promotion .promotion-content .out-box .inner-box {
    width: 2340px;
    height: 600px;
    /* 定位 */
    position: relative;
    left: 0;
}

.promotion .promotion-content .promotion-list li {
    width: 209px;
    float: left;
    height: 282px;
    margin-left: 25px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    padding-top: 25px;
}

.promotion .promotion-content .promotion-list li:hover {
    background-color: #f2f2f2;
}

.promotion .promotion-content .promotion-list .prices {
    color: red;
    font-size: 20px;
}



/* 11.尾部 */
.footer{
height: 28px;
}
/*12 .===========返回顶部===========*/

.backToTop {
    width: 30px;
    height: 50px;
    /* 定位 */
    position: fixed;
    bottom: 100px;
    left: 610px;
    margin-left: 50%;
    /* 默认隐藏 */
    display: none;
}

.backToop img {
    width: 100%;
    height: 100%;
}
/* ==========二维码============== */
/*  */
.qr-code{
    width: 40px;
    height: 180px;
    background-color: red;
    position: fixed;
    top: 185px;
/* 定位 */
}
