/* ===============1. 顶部 ===============*/
.topbar{
    height: 28px;
    background-color: black;
}
.topbar .container{
    height: 28px;
    background-color: #ccc;
}
.topbar .container p{
    height: 28px;
    line-height: 28px;
    color: white;
}
.topbar .container p:first-child{
    text-indent: 210px;
}
.topbar .container p:first-child a{
    color: #fff;
    text-decoration: none;
}
.topbar .container p:nth-child(2){
    margin-right: 10px;
}
.topbar .container p:nth-child(2) a :not(.login){
    color: #ff6700;
}
.topbar .container p:nth-child(2).login{
    color: #fff;
}
/* ===============2.导航 ===============*/
.nav{
height: 80px;
background-color: #ccc;
}
/* 搜索购物车大订单 */
.nav .search-shopcart-order{
    margin-top: 5px;
    height: 35px;
}

/* 搜索框 */
.nav .search-shopcart-order .search-input{
width: 440px;
height: 35px;
background-color: #ff6700;
margin-right: 38px;
position: relative;
}
/* 搜索框中的图标span */
.nav .search-shopcart-order .search-input span{
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/bgicon.png');
}
/* 搜索框 */
.nav .search-shopcart-order .search-input .search{
    width: 390px;
    height: 35px;
    border: 1px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}
/* 购物车和订单 */
.nav .search-shopcart-order .shopcart-order{
    width: 200px;
    height: 35px;
    background-color: pink;
    font-size: 0;
}
/* 购物车订单按钮 */
.nav .search-shopcart-order .shopcart-order button{
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
}
/* 购物车图标 */
.nav .search-shopcart-order .shopcart-order button:nth-child(1){
    background-color: #ff6700;
    color: #fff;
    background-image: url('../img/bgicon.png');
    background-position: -6px -44px;
}
/* 分类导航 */
.nav .category-menu{
    margin-top: 15px;
    height: 30px;
    background-color: red;
}
.nav .category-menu .left-logo{
    width: 200px;
    height: 30px;
    background-color: green;
    position: relative;
}
.nav .category-menu .left-logo img{
    position: absolute;
    top: -82px;
    left: 0;
}
.nav .category-menu ul{
    width: 1000px;
    height: 30px;
    background-color: pink;
}
.nav .category-menu ul li{
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: #333;
}
/* ===============3.分类导航和banner ===============*/
.menu{
    height: 430px;
   
}
.menu .sidemenu{
       height: 430px;
       width: 200px;
      
}
.menu .sidemenu ul{
    height: 430px;
    width: 200px;
    background-color: #f3f3f3;
    position: relative;
}
.menu .sidemenu ul li{
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-indent: 20px;
}
.menu .sidemenu ul li a{
    color: #353535;
    text-decoration: none;
}

.menu .sidemenu ul li:hover{
    background-color: #fff;
}

.menu .sidemenu ul li:hover a{
    color: #ff6700;
}

.menu .sidemenu ul li .title{
    width: 200px;
    height: 30px;
    line-height: 30px;
    
}
.menu .sidemenu ul li:hover .title{
    background-color: #fff;
    position: relative;
    z-index: 99;
    
}

.menu .sidemenu ul li:hover .submenu{
    display: block;
}

.menu .sidemenu ul li .submenu{
    position: absolute;
    top: 0;
    left: 198px;
    border: 2px solid #ff6700;
    width: 500px;
    height: 428px;
    display: none;
}

.menu .banner{
      height: 430px;
      width: 1000px;
      background-color:pink;
}
/* 4.今日推荐 */
/* 5.电子书 */
/* 6.服装 */
/* 7.户外运动 */
/* 8.童装 */
/* 9.家居日用 */
/* 10.推广商品 */
/* 11.尾部 */
.footer{
height: 28px;
}